// mini cart styles

#mini-cart {
  .mc-item-title {
    line-height: 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
  }

  .mc-item-content {
    line-height: 18px;
    margin: 0 30px 10px 70px;
  }

  .mc-list {
    position: absolute;
    background-color: #fff;
    right: 0;
    width: 300px;
    border: 1px solid #000;
    padding: 10px;
    line-height: inherit;
    z-index: 1;

    .mc-item-total {
      font-size: 10px;
      line-height: 18px;
    }

    .mc-item-brand {
      font-size: 11px;
      line-height: 18px;
    }

    .mc-item-price {
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
    }

    .mc-item-image {
      width: 60px;
      height: 60px;
      background-color: green;
      float: left;
      margin: 0 10px 10px 0;
      background-size: cover;
      background-position: 50% 50%;
    }

    .mc-item {
      overflow: hidden;
      position: relative;
    }

    .fa {
      position: absolute;
      top: 10px;
      right: 2px;
    }
  }

  .mc-total {
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}