<div id="mini-cart">
  <span class="mc-nav-title">My Cart ({{cartIds.length}})<span>
  <i class="fa fa-sort-desc" aria-hidden="true"></i>
  <div class="mc-list" ng-show="cart.length">
    <div class="mc-item" ng-repeat="item in cart">
      <div class="mc-item-image" style="background-image: url('media/{{item.item.image}}');"></div>
      <div class="mc-item-content">
        <p class="mc-item-title">{{item.item.title}} <span class="mc-item-total">x {{item.total}}</span></p>
        <p class="mc-item-brand">{{item.item.brand}}</p>
        <p class="mc-item-price">${{item.totalPrice}}.00</p>
      </div>
      <i class="fa fa-times" aria-hidden="true" ng-click="removeFromCart(item.item.title)"></i>
    </div>
    <div class="mc-total">
      <p>total</p>
      <p>${{totalPrice}}.00</p>
    </div>
  </div>
</div>