// Core styles

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'News Cycle', sans-serif;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: inline-block;

    h1.no-margin {
      display: inline-block;
      background: transparent url("/media/logo.png") no-repeat scroll 0% 0%;
      text-indent: -3333px;
      width: 115px;
      height: 68px;
      margin: 0;
      line-height: inherit;
      font-size: 30px;
    }
  }

  nav a, nav .dropdown-container, #mini-cart .mc-nav-title {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #000;
    line-height: 80px;
  }

  .fa {
    position: absolute;
    right: 10px;
    top: 50%;
    line-height: 30px;
    margin-top: -18px;
  }

  nav {
    display: inline-block;

    a, .dropdown-container {
      padding: 0 15px 0;
    }

    .dropdown-container {
      display: inline-block;
      position: relative;

      .dd-label {
        margin-right: 10px;
      }

      .dropdown {
        display: none;
        position: absolute;
        line-height: 36px;
        left: -20%;
        text-align: center;
        background-color: #fff;
        width: 140%;
        padding-bottom: 10px;

        a {
          padding: 0;
          line-height: inherit;
          display: block;
          background-color: #fff;
        }
      }

      &.hovering .dropdown {
        display: block;
      }
    }
  }

  #mini-cart {
    display: inline-block;
    position: relative;
  }

  .mc-nav-title {
    margin-right: 40px;
    cursor: pointer;

    .fa {
      right: 20px;
    }
  }
}