// Home styles

section.heading {
  background: url('../media/plates-header.jpg') no-repeat;
  background-size: 100%;

  h2 {
    display: inline-block;
    padding: 10% 0 3%;
    margin-bottom: 5px;
    border-bottom: 2px solid #fff;
  }

  p {
    margin: 5% 0;
  }

  .heading-content {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 4%;
    background-color: #2a2a2a;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }
}

section.products {
  .products-content {
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
  }
}