<div>
  <section class="heading">
    <div class="heading-content">
      <h2>Plates</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus quam mi, quis sagittis elit tristique eget.
      </p>
    </div>
  </section>

  <section class="products">
    <div class="products-content">
      <product-tile ng-repeat="product in products"></product-tile>
    </div>
  </section>
</div>
