<div class="hp-product">
  <div class="image-container" style="background-image: url('media/{{product.image}}')">
    <div class="overlay">
      <button class="details">View details</button>
      <button class="add2cart" ng-click="addToCart(product)">Add to cart</button>
    </div>
  </div>
  <p class="brand">{{product.brand}}</p>
  <h4>{{product.title}}</h4>
  <p class="price">${{product.price}}.00</p>
</div>
