// home page product tiles styles

.hp-product {
  display: inline-block;
  width: 31%;
  min-width: 200px;
  text-align: center;
  margin: 0 1% 50px;

  h4 {
    text-transform: uppercase;
    margin: 10px 0 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }

  .image-container {
    height: 220px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;

    > .overlay {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:hover .overlay {
      display: block;
    }

    button {
      display: block;
      margin: 0 auto;
      position: absolute;
      width: 60%;
      left: 20%;
      line-height: 35px;
      border: none;
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.4px;

      &.details {
        top: 25%;
        background-color: #151515;
      }

      &.add2cart {
        bottom: 25%;
        background-color: #2a2a2a;
      }
    }
  }

  .brand {
    font-size: 16px;
  }

  .price {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
}