* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'News Cycle', sans-serif;
}
header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .logo {
  display: inline-block;
}
header .logo h1.no-margin {
  display: inline-block;
  background: transparent url("/media/logo.png") no-repeat scroll 0% 0%;
  text-indent: -3333px;
  width: 115px;
  height: 68px;
  margin: 0;
  line-height: inherit;
  font-size: 30px;
}
header nav a,
header nav .dropdown-container,
header #mini-cart .mc-nav-title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #000;
  line-height: 80px;
}
header .fa {
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 30px;
  margin-top: -18px;
}
header nav {
  display: inline-block;
}
header nav a,
header nav .dropdown-container {
  padding: 0 15px 0;
}
header nav .dropdown-container {
  display: inline-block;
  position: relative;
}
header nav .dropdown-container .dd-label {
  margin-right: 10px;
}
header nav .dropdown-container .dropdown {
  display: none;
  position: absolute;
  line-height: 36px;
  left: -20%;
  text-align: center;
  background-color: #fff;
  width: 140%;
  padding-bottom: 10px;
}
header nav .dropdown-container .dropdown a {
  padding: 0;
  line-height: inherit;
  display: block;
  background-color: #fff;
}
header nav .dropdown-container.hovering .dropdown {
  display: block;
}
header #mini-cart {
  display: inline-block;
  position: relative;
}
header .mc-nav-title {
  margin-right: 40px;
  cursor: pointer;
}
header .mc-nav-title .fa {
  right: 20px;
}
section.heading {
  background: url('../media/plates-header.jpg') no-repeat;
  background-size: 100%;
}
section.heading h2 {
  display: inline-block;
  padding: 10% 0 3%;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff;
}
section.heading p {
  margin: 5% 0;
}
section.heading .heading-content {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 4%;
  background-color: #2a2a2a;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}
section.products .products-content {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
}
spinner.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 99;
  opacity: 0.8;
}
.sk-fading-circle {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  z-index: 100;
  top: 50%;
  margin-top: -30px;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.hp-product {
  display: inline-block;
  width: 31%;
  min-width: 200px;
  text-align: center;
  margin: 0 1% 50px;
}
.hp-product h4 {
  text-transform: uppercase;
  margin: 10px 0 5px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.hp-product .image-container {
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.hp-product .image-container > .overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.hp-product .image-container:hover .overlay {
  display: block;
}
.hp-product .image-container button {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 60%;
  left: 20%;
  line-height: 35px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.hp-product .image-container button.details {
  top: 25%;
  background-color: #151515;
}
.hp-product .image-container button.add2cart {
  bottom: 25%;
  background-color: #2a2a2a;
}
.hp-product .brand {
  font-size: 16px;
}
.hp-product .price {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#mini-cart .mc-item-title {
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}
#mini-cart .mc-item-content {
  line-height: 18px;
  margin: 0 30px 10px 70px;
}
#mini-cart .mc-list {
  position: absolute;
  background-color: #fff;
  right: 0;
  width: 300px;
  border: 1px solid #000;
  padding: 10px;
  line-height: inherit;
  z-index: 1;
}
#mini-cart .mc-list .mc-item-total {
  font-size: 10px;
  line-height: 18px;
}
#mini-cart .mc-list .mc-item-brand {
  font-size: 11px;
  line-height: 18px;
}
#mini-cart .mc-list .mc-item-price {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}
#mini-cart .mc-list .mc-item-image {
  width: 60px;
  height: 60px;
  background-color: green;
  float: left;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: 50% 50%;
}
#mini-cart .mc-list .mc-item {
  overflow: hidden;
  position: relative;
}
#mini-cart .mc-list .fa {
  position: absolute;
  top: 10px;
  right: 2px;
}
#mini-cart .mc-total {
  border-top: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
